.list{
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
    padding-top: 20px;
    margin: 20px;
    display: inline-grid;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 30%;
}
